language: python
python:
    - '3.6'
install:
    - 'pip install . elsa'
script:
    - 'python elsasite.py freeze -v'
deploy:
    provider: script
    skip_cleanup: true
    script: 'python elsasite.py deploy --no-freeze --push'
    on:
        branch: master
        repo: fedora-python/portingdb
env:
    global:
        secure: BFTSYRmuToUMZ+bVQKodDXIjCz5K9cUdjEqIJ5sycUsH/5WTjOwlFEYzjK+rdf7hG/AK65x8xHXrdkfkuTV16hlBI7tN/cn5BF8zFzPt96jeQB1oYwWCB5X8g5tDRpJlNmCbW5+eSRvyQ7BFkSWcGljAGNoHuoWLn/A+yyp2na2nZiLJLFNdwe0WeV5zQOneE8jNn37B4uOTQ4noqZc5XnOUMEe3Cq44VgOcmgiGoDVRiw9bEkTl2ezJ8H2HWAQJU1xTKnOES4qkZGI6zvdvpZKoo1UCC9Muek7dts2Rm4xFuHWceO+LwzRnFvNSe6Vfv9Yxh29wSgXf4NZEnW3IRC/2b3h2cvLcOrbx80IiAuG+s5WCbX1mGEfxoTR9hZmZrjSBY+QKLhnrDOJwU3ufozUqolkTx720hZSa5yYQUGNkfxd6hBMMt4dSMuH/N+QAGNdEr6WSwrqKTsO5e7MfFRgmZmwOLpemGJq3y3+s/keLOvd3fghdYo3UO4BAZFsV13UGddbeUjBknro3v0xGtVJnzsKzNXWRbhxlhqKlDlbcM24ai/2V97DRgCA+5aUqb4uf9ihSpoZ46NdUO4smLiENy7CKcBn7v7G40KoBJlWbxgCUn2n5++GfmSJ+a+7R4V8M3by6ZM3aGFeAQJzMAqyDhxPbVzk8BRq+bDoOwA8=
