.badge {
    min-width: 2em;
    color: black;
    margin-left: 0.5ex;
}
.ftbfs-badge {
    display: inline-block;
    background-color: #E88726;
    color: black;
    padding: 0.25em 0.5em 0 0.5em;
    font-size: 60%;
    margin-top: 0.25em;
    vertical-align: top;
}
.simple-pkg-list {
    list-style-type: none;
    padding-left: 1em;
}
.simple-pkg-list>li {
    padding-left: 0.5em;
    text-indent: -0.5em;
}
.simple-pkg-list>li * {
    text-indent: 0;
}
.dependents .badge {
    min-width: 1ex;
    min-height: 1ex;
    font-size: 0;
    padding: 0.75rem;
    margin-left: 0 !important;
}
.dependents th {
    font-weight: normal;
}
.dependents .th-collection {
    font-size: 70%;
}
.pkgstatus-icon {
    padding: 0;
    min-width: 3px;
}
.note {
    font-style: italic;
}
.iconlink span.type-alt {
    font-size: 0;
}
nav, nav ol {
    margin-bottom: 0 !important;
    background-color: #F5F5F5;
}
.progress-with-legend {
    margin-bottom: 1em;
}
.naming-badge {
    display: inline-block;
    position: relative;
    top: 2px;
    min-height: 1em;
    min-width: 1em;
    border-radius: 3px;
    padding: 2px;
}
.list-group .naming-badge {
    float: right;
}
.rpm-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
}
.rpm-list li .rpm-name {
    font-weight: bold;
}
.deptree-level {
    border-left: 1px solid #EEE;
}
.deptree-elided {
    padding-left: 1em; line-height: 50%;
}
.iconlink-bug-NEW,
.iconlink-bug-CLOSED-DEFERRED
    { color: #AAAAAA !important; } /* ~idle */
.iconlink-bug-ASSIGNED,
.iconlink-bug-POST,
.iconlink-bug-MODIFIED,
.iconlink-bug-ON_QA,
.iconlink-bug-VERIFIED,
.iconlink-bug-RELEASE_PENDING,
.iconlink-bug-CLOSED
    { color: #F0AD4E !important; } /* ~in-progress */
.iconlink-bug-CLOSED-NOTABUG,
.iconlink-bug-CLOSED-WONTFIX,
.iconlink-bug-CLOSED-WORKSFORME,
.iconlink-bug-CLOSED-DUPLICATE,
.iconlink-bug-CLOSED-UPSTREAM
.iconlink-bug-CLOSED-CANTFIX,
.iconlink-bug-CLOSED-INSUFFICIENT_DATA,
.iconlink-bug-CLOSED-EOL
    { color: #D9534F !important; } /* ~blocked */
.iconlink-bug-CLOSED-CURRENTRELEASE,
.iconlink-bug-CLOSED-RAWHIDE,
.iconlink-bug-CLOSED-ERRATA,
.iconlink-bug-CLOSED-NEXTRELEASE
    { color: #5CB85C !important; } /* ~released */

.global-message {
    padding: 0.1ex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #888;
    color: #000;
}
.related-packages .progress-legend-item {
    display: block;
    padding-left: 2em;
}
body {
    margin-bottom: 4em;
}
