{% extends "_base.html" %}

{% block titlecontent -%}
    {%- if grp -%}
        {{ grp.name }} —.
    {% endif -%}
    Packages by Code Stats – {{ super() }}
{%- endblock titlecontent %}

{% block favicon -%}
{%- endblock favicon %}

{% block style %}
    {{ super() }}
    .loc-th-num {
        text-align: right
    }
    .loc-th-nums {
        text-align: center
    }
    .loc-td-num {
        text-align: right;
    }
    .loc-td-percent {
        text-align: right;
    }
{% endblock style %}

{% macro table_row(pkg) -%}
    <tr>
        <td>{{ pkglink(pkg) }}</td>
        <td class="loc-td-num">{{ pkg['loc_total'] | format_quantity }}</td>
        {% if pkg['loc_python'] %}
            <td class="loc-td-num">{{ pkg['loc_python'] | format_quantity }}</td>
            <td class="loc-td-percent">({{ (pkg['loc_python']/pkg['loc_total']) | format_percent }})</td>
        {% else %}
            <td class="loc-td-num"></td>
            <td class="loc-td-percent"></td>
        {% endif %}
        {% if pkg['loc_capi'] %}
            <td class="loc-td-num">{{ pkg['loc_capi'] | format_quantity }}</td>
            <td class="loc-td-percent">({{ (pkg['loc_capi']/pkg['loc_total']) | format_percent }})</td>
        {% else %}
            <td class="loc-td-num"></td>
            <td class="loc-td-percent"></td>
        {% endif %}
        <td>{{ loc_chart(pkg) }}</td>
    </tr>
{%- endmacro %}

{% macro sort_url(key) -%}
    {% if sort_key == key and not sort_reverse %}
        {{ url_for(request.endpoint, sort=key, reverse=1, **request.view_args) }}
    {% else %}
        {{ url_for(request.endpoint, sort=key, **request.view_args) }}
    {% endif %}
{%- endmacro %}

{% macro sort_link(key, text, one_way=False) -%}
    {%- if one_way and sort_key == key -%}
        <b>{{ text }}</b>
    {%- else -%}
        {%- if sort_key == key -%}
            {%- if sort_reverse -%}
                ⏶
            {%- else -%}
                ⏷
            {%- endif -%}
            &nbsp;
        {%- endif -%}
        <a href="{{ sort_url(key) }}">{{ text }}</a>
    {%- endif -%}
{%- endmacro %}

{% block bodycontent %}
    <div class="container">
        <div class="col-md-12">
            <h1>
                Packages by Code Stats
                {% if grp %}
                    <small>
                        for <a href="{{ url_for('group', grp=grp.ident) }}"> {{ grp.name }}</a>
                    </small>
                {% endif %}
            </h1>
            <p>
                Here are the unported packages, with the approximate size
                of their codebases (in lines of code), and the sizes of their
                Python parts.
            </p>
            <p>
                The size of the Python parts is split between 
                <span class="minibadge"
                    style="background-color: #5BC0DE !important;"
                ></span>
                Python code and 
                <span class="minibadge"
                    style="background-color: #F0AD4E !important;"
                ></span>
                C/C++ code using the CPython API.
            </p>
            <p>
                The information is inaccurate and incomplete,
                but hopefully useful.
            </p>
            <p>
                As for the charts: <em>don't compare the “blue areas” between
                two graphs</em>.
                The filled-in areas represent the amount of Python/C-API
                code relative to all code in the particular project.
                The size of the bar itself uses a logarithmic scale.
                What the graph can tell you at a glance is:
                “A {big/medium/small} project, {all/half/hardly} written in Python”.
            </p>
            <div>
                You can order the list to favor:
                <ul>
                    <li>
                        {{ sort_link('py-percent', 'Pure-Python packages', True) }}
                        ({{ sort_link('py-big', 'big', True) }},
                        {{ sort_link('py-small', 'small', True) }})
                    </li>
                </ul>
                <ul>
                    <li>
                        {{ sort_link('capi-percent', 'C-API packages', True) }}
                        ({{sort_link('capi-big', 'big', True) }},
                        {{ sort_link('capi-small', 'small', True) }})
                    </li>
                </ul>
                <ul>
                    <li>{{ sort_link('no-py', 'Packages without Python', True) }}</li>
                </ul>
                ... or click the table headers to sort.
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-condensed loc-table">
                <tr>
                    <th>
                        {{ sort_link('name', 'Package') }}
                    </th>
                    <th class="loc-th-num">
                        {{ sort_link('loc', 'Total') }}
                    </th>
                    <th colspan="2" class="loc-th-nums">
                        {{ sort_link('python', 'Python') }}
                    </th>
                    <th colspan="2" class="loc-th-nums">
                        {{ sort_link('capi', 'C API') }}
                    </th>
                    <th width="50%"></th>
                </tr>
                {% for pkg in packages %}
                    {{ table_row(pkg) }}
                {% endfor %}
            </table>
        </div>
        {% if missing_packages %}
            <div class="col-md-12">
                <p>
                    <div>
                        Stats for these packages are not available yet:
                    </div>
                    <div>
                        {% for pkg in missing_packages %}
                            {{ pkglink(pkg) }}
                        {% endfor %}
                    </div>
                </p>
            </div>
        {% endif %}
        {% if no_code_packages %}
            <div class="col-md-12">
                <p>
                    <div>
                        The script found no code at all in these packages:
                    </div>
                    <div>
                        {% for pkg in no_code_packages %}
                            {{ pkglink(pkg) }}
                        {% endfor %}
                    </div>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock bodycontent %}
