{% extends "_base.html" %}

{% block titlecontent -%}
    Graph – {{ super() }}
{%- endblock titlecontent %}

{% block favicon_url -%}
    {{ url_for('piechart_svg') }}?{{ cache_tag }}
{%- endblock favicon_url %}

{% block style %}
    {{ super() }}
    .node {
    stroke: #fff;
    stroke-width: 1.5px;
    }

    .link {
    stroke: #bbb;
    stroke-opacity: 1;
    }

    .marker {
    fill: #bbb;
    fill-opacity: 1;
    }

    .d3-tip {
    line-height: 1;
    padding: 3px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-family: sans-serif;
    }
{% endblock style %}


{% block bodycontent %}
<div class="container">
    <div class="col-12">
        <h1>A Graph</h1>
        <p>
            Here is a graph showing dependency information for all unported
            packages (idle, blocked, and in-progress)
            tracked by <a href='..'>portingdb</a>.
            Darker colors mean more dependencies.
            Hover over a package to see its name; click it to open its portingdb summary.
        </p>
        <p>
            Bigger nodes mean more Python (+C extension) code.
        </p>
        <p>
            The graph is currently quite CPU-hungry. Sorry for that!
        </p>
    </div>
</div>
<center>
    <div id="graph-goes-here"></div>
</center>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>

var width = 1200,
    height = 900;

var force = d3.layout.force()
    .linkDistance(15)
    .size([width, height]);

var svg = d3.select("#graph-goes-here").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("portingdb.json", function(error, graph) {
  if (error) throw error;

  force
      .charge(-9000 / Math.pow(graph.nodes.length, 0.9))
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

svg.append("svg:defs").selectAll("marker")
    .data(["end"])      // Different link/path types can be defined here
  .enter().append("svg:marker")    // This section adds in the arrows
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
    .attr("class", "marker")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
    .attr("marker-end", "url(#end)")
      .style("stroke-width", 1);

    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return '<i class="pkgstatus-icon" style="background-color:' + d.status_color + '">&nbsp;</i> ' + d.name;
      })

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("svg:a")
      .attr("xlink:href", function(d) { return "/pkg/" + d.name + "/"; })
    .append("circle")
      .attr("class", "node")
      .attr("r", function(d) { return d.size; })
      .style("fill", function(d) { return d.color; })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
      .call(force.drag);

    svg.call(tip);

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
});

</script>
{% endblock bodycontent %}
