{% extends "_base.html" %}

{% block bodycontent %}
<div class="container">
    <div class="col-md-12" id="chart-container">
        <h1>History</h1>
        <p>
            This graph shows recorded status history of packages
            tracked by the {{ config['name'] or '' }} portingdb.
        </p>
        <p>
            {% if expand %}
                You can make the graph show
                percentages or
                <a href="{{ url_for('history') }}">counts</a>.
            {% else %}
                You can make the graph show
                <a href="{{ url_for('history', expand=1) }}">percentages</a>
                or counts.
            {% endif %}
        </p>
        <p>
            (Note that the exact methodology of assigning status to packages
            is evolving over time; for example the "mispackaged" status
            was added at the end of January 2016.)
        </p>
        {{ graph|safe }}
    </div>
</div>

{% endblock bodycontent %}
