{% extends "_base.html" %}

{% block bodycontent %}
    <div class="container">
        <div class="col-md-12">
            <h1>Python 3 Porting Database</h1>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-2">Place</th>
                        <th class="col-sm-2">Ported</th>
                        <th class="col-sm-8">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    {% for col in collections %}
                        {% set released = coll_info[col]['data'].get('released', 0) %}
                        {% set dropped = coll_info[col]['data'].get('dropped', 0) %}
                        {% set done = released + dropped %}
                        {% set total = coll_info[col]['total'] %}
                        <tr>
                            <td>{{ col.name }}</td>
                            {% if total == 0 %}
                                <td>{{ done }}/{{ total }}</td>
                                <td></td>
                            {% else %}
                                {% set percent = done / total * 100 %}
                                <td>{{ done }}/{{ total }}</td>
                                <td>
                                    <div class="progress">
                                        {% for status in statuses %}
                                            {% set num = coll_info[col]['data'].get(status.ident, 0) %}
                                            {% if num %}
                                                <div
                                                    class="progress-bar" role="progressbar"
                                                    aria-valuenow="{{ percent }}"
                                                    aria-valuemin="0" aria-valuemax="100"
                                                    style="width: {{ 100 * num / total }}%;
                                                           background-color: #{{ status.color }} !important;
                                                           color: black;"
                                                >
                                                    {{ num }}
                                                    {{ status.abbrev }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Active packages</h2>
            <div>
                These are packages someone is actively porting,
                or which are waiting for review.
            </div>
            <table class="table table-striped table-condensed table-hovered">
               {{ pkglist_table_content(active_packages, collections) }}
            </table>
            <h2>Waiting packages</h2>
            <div>
                {{ ready_packages.count() }} packages are waiting for someone to pick them up.
                Grab your favorite, and go port it!
            </div>
            <div>
                If you're not sure which one to pick, or if you just want to help,
                choose one on which lots of other stuff depends.
            </div>
            <ul class="simple-pkg-list">
               {% for pkg in ready_packages %}
                   <li>
                        {{ pkglink(pkg) }}
                        {% if pkg.pending_requirers %}
                           (needed for
                               {% for req in pkg.pending_requirers %}
                                   {{ pkglink_text(req) }}{% if not loop.last %},{% endif %}{% endfor %})
                        {% endif %}
                   </li>
               {% endfor %}
            </ul>
            <h2>Blocked packages</h2>
            <div>
                {{ blocked_packages.count() }}  packages don't have all dependencies ported yet.
            </div>
            <ul class="simple-pkg-list">
               {% for pkg in blocked_packages %}
                   <li>
                        {{ pkglink(pkg) }}
                        {% if pkg.pending_requirements %}
                           (needs
                               {% for req in pkg.pending_requirements %}
                                   {{ pkglink_text(req) }}{% if not loop.last %},{% endif %}{% endfor %})
                        {% endif %}
                   </li>
               {% endfor %}
            </ul>
            <h2>Done packages</h2>
            <div>
                {{ done_packages.count() }}  packages are already ported. Yipee!
            </div>
            <div>
               {% for pkg in done_packages %}
                    {{ pkglink(pkg) }}
               {% endfor %}
            </div>
            <h2>Dropped packages</h2>
            <div>
                {{ dropped_packages.count() }}  packages will not be ported to Python 3.
                Anything that needs them will need to switch to an alternative.
            </div>
            <div>
               {% for pkg in dropped_packages %}
                    {{ pkglink(pkg) }}
               {% endfor %}
            </div>
        </div>
        <div class="col-md-3" style="position:sticky !important; top:0px;">
            <h2>Legend</h2>
            <h5>Status</h5>
            <ul class="list-group">
                {% for status in statuses %}
                    <li class="list-group-item">
                        {{ badge(status) }}
                        {{ status.name }}
                        <div><small>{{ status.description }}</small></div>
                    </li>
                {% endfor %}
            </ul>
            <h5>Priority</h5>
            <ul class="list-group">
                {% for prio in priorities %}
                    <li class="list-group-item">
                        {{ badge(prio) }}
                        {{ prio.name }}
                    </li>
                {% endfor %}
            </ul>
            <!--
            <h5>Package</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="pkgstatus-icon pkgstatus-active"></span>
                    Active
                    <div><small>Worked on</small></div>
                </li>
                <li class="list-group-item">
                    <span class="pkgstatus-icon pkgstatus-idle"></span>
                    Waiting
                    <div><small>Ready for someone to start porting</small></div>
                </li>
                <li class="list-group-item">
                    <span class="pkgstatus-icon pkgstatus-blocked"></span>
                    Blocked
                    <div><small>Blocked by unported dependencies</small></div>
                </li>
                <li class="list-group-item">
                    <span class="pkgstatus-icon pkgstatus-done"></span>
                    Done
                    <div><small>Done (released or dropped)</small></div>
                </li>
            </ul>
            -->
        </div>
    </div>
{% endblock bodycontent %}
