{% extends "_base.html" %}

{% block titlecontent -%}
    Mispackaged – {{ super() }}
{%- endblock titlecontent %}

{% block bodycontent %}

<div class="container">
    <div class="col-md-12">
        <h1>Mispackaged</h1>
        {% if requested %}
            <p>
                Mispackaged packages for which the maintainer requested a patch.
                Ordered by last activity.
            </p>
        {% else %}
            <p>
                All mispackaged packages, ordered by last activity.
            </p>
            <p style="padding-bottom: 5pt">
                You can also view only <a href="{{ url_for('mispackaged', requested=1) }}">the packages for which the maintainer requested a patch</a>.
            </p>
        {% endif %}

        {% if not mispackaged %}
        <p>
            <br/><br/>
            There are currently no such packages.
        </p>
        {% else %}
        <table class="table table-striped table-condensed table-hovered">
            <tr>
                <th>Package</th>
                <th>Last activity</th>
            </tr>

            {% for pkg in mispackaged %}
            <tr>
                <td>
                    {{ pkglink(pkg) }}
                    {% if not requested and
                            "https://bugzilla.redhat.com/show_bug.cgi?id=1333765"
                            in pkg.list_tracking_bugs %}
                       (patch requested by maintainer)
                    {% endif %}
                </td>
                <td>
                    {% if pkg.last_link_update %}
                        <time title="{{ pkg.last_link_update }}">
                            {{ pkg.last_link_update | format_time_ago }}
                        </time>
                    {% else %}
                        no Bugzilla report yet
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>

{% endblock bodycontent %}
