{% extends "_base.html" %}

{% block titlecontent -%}
    Naming Policy – {{ super() }}
{%- endblock titlecontent %}

{% block favicon_url -%}
    {{ url_for('piechart_namingpolicy') }}?{{ cache_tag }}
{%- endblock favicon_url %}

{% block bodycontent %}

<div class="container">
    <div class="col-md-12">
        <h1>Naming Policy Violations</h1>
    </div>
    <div class="col-md-12">
        {{ progress_summary(progress, total_packages) }}
        <p>
            This is a dashboard to track various naming scheme violations in Python packages:
            <ul>
                {% for (name_status, total), packages in data %}
                <li>
                    {{ minibadge(name_status) }}
                    <strong>{{ name_status.name }}</strong> -
                    {{ name_status.violation | safe }}
                </li>
                {% endfor %}
            </ul>
            We encourage to follow the new guidelines to avoid a range of issues
            when upstream support for Python 2 ends and <i>python</i> means Python 3 in Fedora.
        </p>
    </div>
    <div class="col-md-9">
        {% for (name_status, total), packages in data %}
        <h3 id="{{ name_status.ident }}">
            {{ total }} packages - {{ name_status.name }}
        </h3>
        <div>{{ name_status.description | safe }}</div>
        <div>
            {% for pkg in packages %}
            <span class="pkgstatus-icon" style="background-color: {{ name_status.color }}">&nbsp;</span>&nbsp;{{ pkglink_text(pkg) }}
            {% endfor %}
        </div>
        {% endfor %}
        <h3>Non Python Packages</h3>
        <div>There are also non Python packages which are not tracked in Python Porting Database, but depend on Python packages and use the unversioned naming scheme in run-time or build-time requirements.</div>
        {% for name_status, total, packages in data_outside_portingdb %}
        <h4 id="{{ name_status.ident }}-non-python">
            {{ total }} packages - {{ name_status.name }}
        </h4>
        <table class="table table-striped table-condensed table-hovered">
            <tr>
                <th>Package</th>
                <th>Links</th>
            </tr>

            {% for pkg in packages %}
            <tr>
                <td>
                    <span class="pkgstatus-icon" style="background-color: {{ name_status.color }}">&nbsp;</span>&nbsp;{{ pkg[0] }}
                </td>
                <td>
                    <a target="_blank" href="https://admin.fedoraproject.org/pkgdb/package/{{ pkg[0] }}/">PkgDB</a>,
                    <a target="_blank" href="https://src.fedoraproject.org/cgit/rpms/{{ pkg[0] }}.git/tree/{{ pkg[0] }}.spec">spec</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            {% for (name_status, total), packages in data %}
            <li class="list-group-item">
                {{ minibadge(name_status) }}
                <a href="#{{ name_status.ident }}">
                    {{ total }}
                    <strong>{{ name_status.name }}</strong>
                </a>
                <div><small>{{ name_status.short_description }}</small></div>
            </li>
            {% endfor %}
        </ul>
        <h3>Non Python Packages</h3>
        <ul class="list-group">
            {% for name_status, total, packages in data_outside_portingdb %}
            <li class="list-group-item">
                {{ minibadge(name_status) }}
                <a href="#{{ name_status.ident }}-non-python">
                    {{ total }}
                    <strong>{{ name_status.name }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>
        <h3>Visualizations</h3>
        You can also look at the progress in the form of a
        <a href="{{ url_for('piechart_namingpolicy') }}">pie chart</a>.
        <div>
            <a href="{{ url_for('piechart_namingpolicy') }}">
                <img src="{{ url_for('piechart_namingpolicy') }}">
            </a>
        </div>
        <div>
            You may also see a
            <a href="{{ url_for('history_naming') }}">graph of the progress history</a>
            for the naming policy violations.
        </div>
    </div>
</div>

{% endblock bodycontent %}
