{% extends "_base.html" %}

{% block titlecontent %}{{pkg.name }} – {{ super() }} {% endblock titlecontent %}

{% block favicon_url -%}
    {{ url_for('status_svg', status=pkg.status) }}?{{ cache_tag }}
{%- endblock favicon_url %}

{% block bodycontent %}
    <div class="container">
        <div class="col-md-12">
            <h1>Package {{ pkg.name }} </h1>
            <div style="border-left: 4px solid #{{pkg.status_obj.color}}; padding-left: 4px; ">
                {{ pkg.status_obj.instructions | md }}
            </div>
            <br>
            <div>
                <img src="https://fedoraproject.org/static/images/favicon.ico">
                See
                <a href="https://src.fedoraproject.org/rpms/{{ pkg.name }}/">
                    {{ pkg.name }}</a>
                in the Fedora Pagure, or go directly to the corresponding
                <a href="https://src.fedoraproject.org/rpms/{{ pkg.name }}/blob/master/f/{{ pkg.name }}.spec">spec file</a>.
            </div>
        </div>
        <div class="col-md-3">
                {% set pc = pkg %}
                {% if pc %}
                    {% if 'note' in pc %}
                        <div>
                            <h3>Note</h3>
                            {{ pc.note | md }}
                        </div>
                    {% endif %}
                    {% if pc.rpms %}
                        <div>
                            <h3>RPMs</h3>
                            <ul class="rpm-list">
                            {% for rpm_name, rpm in pc.rpms.items() %}
                                <li>
                                    {{ rpm_name | format_rpm_name }}
                                    {% if rpm.get('is_misnamed') %}
                                    <span class="badge"
                                          style="background-color: #F0AD4E !important;"
                                          title="The RPM name does not comply with Python package naming guidelines"
                                    >x</span>
                                    {% endif %}
                                    {% if rpm.legacy_leaf %}
                                    <span class="badge"
                                          style="background-color: #444 !important; color: #fd3;"
                                          title="The RPM is not required by other packages in Fedora {% if pkg.status == "legacy-leaf" %} and can be dropped if the maintainer wishes{% endif %}"
                                    ><i class="fa fa-leaf"></i></span>
                                    {% endif %}
                                    <ul class="fa-ul">
                                        {% for pydep, ver in rpm.get('py_deps', {}).items() %}
                                            <li>
                                                {% if ver == 3 %}
                                                    <span class="fa fa-li">✔</span>
                                                {% elif ver == 2 %}
                                                    <span class="fa fa-li">×</span>
                                                {% else %}
                                                    <span class="fa fa-li"> </span>
                                                {% endif %}
                                                {{ pydep }}
                                                {% if pydep == '/usr/bin/python' %}
                                                    <span class="badge"
                                                        style="background-color: #F0AD4E !important;"
                                                        title="Scripts should explicitly use /usr/bin/python3 or /usr/bin/python2, especially in shebangs"
                                                    >⅔</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if pc.get('links') %}
                        <div>
                            <h3>Links</h3>
                            <ul class="pkg-link-list fa-ul">
                                {% for link in pc.get('links', ()) %}
                                    <li>
                                        <i class="fa-li {{ iconlink_class(link) }}"></i>
                                        {{ link.type }}:
                                        <a href="{{ link.url }}">{{ link.url }}</a>
                                        {% if link.note %}
                                            ({{ link.note }})
                                        {% endif %}
                                        {% if link.last_update %}
                                            <br/>
                                            Last activity:
                                            <time style="font-style: italic;"
                                                    title="{{ link.last_update }}">
                                                {{ link.last_update | format_time_ago }}
                                            </time>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            <h3>Dependent packages</h3>
            <h4>Run time</h4>
            {% if pkg['dependents'] %}
                <ul class="simple-pkg-list">
                    {% for p in pkg['dependents'].values() %}
                        <li>{{ pkglink(p) }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                None.
            {% endif %}
            <h4>Build time</h4>
            {% if pkg['build_dependents'] %}
                <ul class="simple-pkg-list">
                    {% for p in pkg['build_dependents'].values() %}
                        <li>{{ pkglink(p) }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                None.
            {% endif %}
            <h3>Dependency Tree</h3>
            <h4>Run time</h4>
            {{ print_deptree(deptree) }}
            <h4>Build time</h4>
            {{ print_deptree(build_deptree) }}
            {% if 'loc_total' in pkg %}
                <h3>Project Size</h3>
                {{ loc_chart(pkg) }}
                <div>
                    <span class="minibadge"></span>
                    ~{{ pkg['loc_total'] | format_quantity }}
                    total lines of code
                </div>
                <div>
                    <span class="minibadge"
                        style="background-color: #5BC0DE !important;"
                    >
                    </span>
                    ~{{ pkg['loc_python'] | format_quantity }}
                    ({{ (pkg['loc_python'] / pkg['loc_total']) | format_percent }})
                    Python
                </div>
                {% if pkg['loc_capi'] %}
                    <div>
                        <span class="minibadge"
                            style="background-color: #F0AD4E !important;"
                        >
                        </span>
                        ~{{ pkg['loc_capi'] | format_quantity }}
                        ({{ (pkg['loc_capi'] / pkg['loc_total']) | format_percent }})
                        C/C++ w/ CPython API
                    </div>
                {% endif %}
                <div>
                    (approximation as of {{ pkg['loc_version'] }})
                </div>
            {% endif %}
            {% if 'groups' in pkg %}
                <h3>Groups</h3>
                <ul>
                    {% for grp in pkg.groups | sort(attribute='name') %}
                        <li>
                            <a href="{{ url_for('group', grp=grp.ident) }}">
                                {{ grp.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h2>Dependencies</h2>
            <h4>Run time</h4>
            {{ progress_summary_legend(dependencies_status_counts) }}
            {% if pkg['deps'] %}
                <table class="table table-striped table-condensed table-hovered">
                    {{ pkglist_table_content(pkg['deps'].values(), show_nonblocking=1) }}
                </table>
            {% else %}
                None.
            {% endif %}
            <h4>Build time</h4>
            {{ progress_summary_legend(build_dependencies_status_counts) }}
            {% if pkg['build_deps'] %}
                <table class="table table-striped table-condensed table-hovered">
                    {{ pkglist_table_content(pkg['build_deps'].values(), show_nonblocking=1) }}
                </table>
            {% else %}
                None.
            {% endif %}
        </div>
    </div>
{% endblock bodycontent %}
