{% extends "_base.html" %}

{% block titlecontent %}{{pkg.name }} – {{ super() }} {% endblock titlecontent %}

{% block favicon_url -%}
    {{ url_for('piechart_pkg', pkg=pkg.name) }}?{{ cache_tag }}
{%- endblock favicon_url %}

{% block bodycontent %}
    <div class="container">
        <div class="col-md-12">
            <h1>Package {{ pkg.name }} </h1>
            <div style="border-left: 4px solid #{{pkg.status_obj.color}}; padding-left: 4px; ">
                {{ pkg.status_obj.instructions | md }}
            </div>
            {% if in_progress_deps and pkg.status != 'in-progress' %}
                <div style="border-left: 4px solid #F0AD4E; padding-left: 4px; ">
                    Some projects this package depends on are currently being
                    ported, so you might need to use their development versions.
                    Please coordinate with
                    {% for p in in_progress_deps %}
                        {{ pkglink_text(p) }}{% if not loop.last %},{% endif %}{% endfor %}.
                </div>
            {% endif %}
            <br>
            <div>
                <img src="https://fedoraproject.org/static/images/favicon.ico">
                See
                <a href="https://admin.fedoraproject.org/pkgdb/package/{{ pkg.name }}/">
                    {{ pkg.name }}</a>
                in the Fedora Package Database, or go directly to the corresponding
                <a href="http://pkgs.fedoraproject.org/cgit/rpms/{{ pkg.name }}.git/tree/{{ pkg.name }}.spec">spec file</a>.
            </div>
        </div>
        <div class="col-md-3">
            {% for col in collections %}
                {% set pc = pkg.by_collection.get(col.ident) %}
                {% if pc %}
                    <h3>
                        {{ col.name }}
                        <small style="float: right">
                            {{ badge(pc.status_obj) }}
                            <!--{{ badge(pc.priority_obj) }}-->
                        </small>
                    </h3>
                    {% if pc.note %}
                        <div>
                            {{ pc.note | md }}
                        </div>
                    {% else %}
                        <div class="note">
                            {{ col.status_description(pc.status_obj) | md }}
                        </div>
                    {% endif %}
                    {% if pc.rpms %}
                        <div>
                            <strong>RPMs</strong>
                            <ul class="rpm-list">
                            {% for rpm in pc.rpms %}
                                <li>
                                    {{ rpm.rpm_name | format_rpm_name }}
                                    <ul class="fa-ul">
                                        {% for pydep in rpm.py_dependencies %}
                                            <li>
                                                {% if pydep.py_version == 3 %}
                                                    <span class="fa fa-li">✔</span>
                                                {% elif pydep.py_version == 2 %}
                                                    <span class="fa fa-li">×</span>
                                                {% else %}
                                                    <span class="fa fa-li"> </span>
                                                {% endif %}
                                                {{ pydep.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if pc.links %}
                        <div>
                            <strong>Links</strong>
                            <ul class="pkg-link-list fa-ul">
                                {% for link in pc.links %}
                                    <li>
                                        <i class="fa-li {{ iconlink_class(link) }}"></i>
                                        {{ link.type }}:
                                        <a href="{{ link.url }}">{{ link.url }}</a>
                                        {% if link.note %}
                                            ({{ link.note }})
                                        {% endif %}
                                        {% if link.last_update %}
                                            <br/>
                                            Last activity:
                                            <time style="font-style: italic;"
                                                    title="{{ link.last_update }}">
                                                {{ link.last_update | format_time_ago }}
                                            </time>
                                        {% endif %}
                                        {% if "https://bugzilla.redhat.com/show_bug.cgi?id=1333765"
                                                in pkg.list_tracking_bugs %}
                                            <br/>
                                            <b>Patch requested by maintainer</b>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <h3>Dependent packages</h3>
            {% if dependents %}
                <ul class="simple-pkg-list">
                    {% for pkg in dependents %}
                        <li>{{ pkglink(pkg) }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                None.
            {% endif %}
            <h3>Dependency Tree</h3>
            {{ print_deptree(deptree) }}
            {% if pkg['loc_total'] %}
                <h3>Project Size</h3>
                {{ loc_chart(pkg) }}
                <div>
                    <span class="minibadge"></span>
                    ~{{ pkg['loc_total'] | format_quantity }}
                    total lines of code
                </div>
                <div>
                    <span class="minibadge"
                        style="background-color: #5BC0DE !important;"
                    >
                    </span>
                    ~{{ pkg['loc_python'] | format_quantity }}
                    ({{ (pkg['loc_python'] / pkg['loc_total']) | format_percent }})
                    Python
                </div>
                {% if pkg['loc_capi'] %}
                    <div>
                        <span class="minibadge"
                            style="background-color: #F0AD4E !important;"
                        >
                        </span>
                        ~{{ pkg['loc_capi'] | format_quantity }}
                        ({{ (pkg['loc_capi'] / pkg['loc_total']) | format_percent }})
                        C/C++ w/ CPython API
                    </div>
                {% endif %}
                <div>
                    (approximation as of {{ pkg['loc_version'] }})
                </div>
            {% endif %}
            {% if pkg.groups %}
                <h3>Groups</h3>
                <ul>
                    {% for grp in pkg.groups | sort(attribute='name') %}
                        <li>
                            <a href="{{ url_for('group', grp=grp.ident) }}">
                                {{ grp.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h2>Dependencies</h2>
            {{ progress_summary_legend(dependencies_status_counts.items()) }}
            {% if dependencies %}
                <table class="table table-striped table-condensed table-hovered">
                    {{ pkglist_table_content(dependencies, collections, show_nonblocking=1) }}
                </table>
            {% else %}
                None.
            {% endif %}
        </div>
    </div>
{% endblock bodycontent %}
