{% extends "_base.html" %}

{% block bodycontent %}
    <div class="container">
        <div class="col-md-12">
            <h1>Package {{ pkg.name }} </h1>
        </div>
        <div class="col-md-3">
            {% for col in collections %}
                {% set pc = pkg.by_collection.get(col.ident) %}
                {% if pc %}
                    <h3>
                        {{ col.name }}
                        <small style="float: right">
                            {{ badge(pc.status_obj) }}
                            {{ badge(pc.priority_obj) }}
                        </small>
                    </h3>
                    <!--
                    {% if pc.status != 'unknown' %}
                        {{ pc.status_obj.name }}{% if pc.priority != 'unknown' %},{% endif %}
                    {% endif %}
                    {% if pc.priority != 'unknown' %}
                        {{ pc.priority_obj.name }} priority
                    {% endif %}
                    -->
                    {% if pc.rpms %}
                        <div>
                            <strong>RPMs</strong>
                            <ul>
                            {% for rpm in pc.rpms %}
                                <li>
                                    {{ rpm.rpm_name }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if pc.links %}
                        <div>
                            <strong>Links</strong>
                            <ul>
                                {% for link in pc.links %}
                                    <li>
                                        {{ link.type }}:
                                        <a href="{{ link.url }}">{{ link.url }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h2>Dependencies</h2>
            <table class="table table-striped table-condensed table-hovered">
                <thead>
                    </tr>
                        <th>Package</th>
                        {% for col in collections %}
                            <th colspan="2">{{col.name}}</th>
                        {% endfor %}
                    <tr>
                </thead>
                <tbody>
                    {% for dep in pkg.requirements %}
                        {{ package_tr(dep, collections) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock bodycontent %}
